<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | О нас</title>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="ab-container">
        <div class="ab-info">
            <h2>О нас</h2>
            <p>Добро пожаловать в <a href="/">Kahoot</a> - ваш персональный партнер в веб-разработке! Мы являемся командой опытных и талантливых веб-разработчиков, готовых создать для вас качественные и функциональные веб-сайты под любые задачи и требования.</p>

            <p>Наша миссия - помочь вам реализовать ваши идеи в интернете и добиться успеха в цифровом мире. Мы стремимся к высокому качеству, инновациям и удовлетворению потребностей наших клиентов.</p>

            <p>Что отличает нас:</p>

            <ul>
                <li>Профессионализм: Мы имеем богатый опыт работы в области веб-разработки и следим за последними технологическими тенденциями, чтобы предложить вам современные и инновационные решения.</li>
                <li>Индивидуальный подход: Мы понимаем, что каждый проект уникален, поэтому мы работаем тесно с каждым клиентом, чтобы полностью понять их потребности и ожидания.</li>
                <li>Качество: Мы уделяем особое внимание деталям и стремимся к высочайшему качеству в каждом проекте, который мы выполняем.</li>
                <li>Прозрачность: Мы ценим доверие наших клиентов, поэтому мы обеспечиваем открытую и прозрачную коммуникацию на всех этапах сотрудничества.</li>
            </ul>
            <h3 style="margin-left: 20px;">Инновационный подход:</h3>
            <p>Мы постоянно следим за новейшими технологическими тенденциями и стремимся к инновациям в нашей работе. Мы постоянно ищем новые способы улучшения наших услуг и обеспечения наших клиентов современными и эффективными решениями.</p>
            <h3 style="margin-left: 20px;">Обратная связь и улучшение:</h3>
            <p>Мы ценим мнение наших клиентов и постоянно стремимся к улучшению качества наших услуг. Мы открыты для обратной связи и всегда готовы адаптировать наш подход, чтобы удовлетворить потребности наших клиентов ещё лучше.</p>
        </div>
    </div>
</main>
</body>
</html>
