<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | О нас</title>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="ab-container">
        <div class="ab-info">
            <h2>О нас</h2>
            <b>Да, мы тоже играли в Kahoot на парах, да ещё и с азартом!</b>
            <p>И вот решили: почему бы не сделать свою версию? Мы хотим, чтобы у каждого была возможность проводить викторины, тесты и просто весело прокачивать мозги вместе с друзьями. Присоединяйся и зови всех, кто любит веселье и немного конкуренции!</p>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
