<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Помощь проекту</title>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="ab-container">
        <div class="ab-info">
            <h2>Почему ваша поддержка важна</h2>
            <p>
                Наш проект - это полностью бесплатная платформа, созданная с любовью для всех пользователей.
                Мы не показываем вам раздражающую рекламу, не продаём данные и стараемся делать всё максимально удобно и просто.
            </p>
            <p>
                Однако, чтобы всё это продолжало работать - сервера, хостинг, разработка и поддержка сайта - нам нужны ресурсы.
                Поддержав проект даже небольшой суммой, вы помогаете нам сохранять стабильную работу и развиваться дальше.
            </p>
            <p>
                Спасибо каждому, кто помогает - вы делаете это место лучше!
            </p>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
</body>
</html>
