<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Контакты</title>
    <link rel="stylesheet" href="/stylesheets/contacts.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main class="contactUs">
    <div class="container">
        <div class="contacts-container">
            <h1>Контакты</h1>
            <div class="contacts">
                <div class="contact">
                    <div class="contact-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mails-icon lucide-mails"><path d="M17 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 1-1.732"/><path d="m22 5.5-6.419 4.179a2 2 0 0 1-2.162 0L7 5.5"/><rect x="7" y="3" width="15" height="12" rx="2"/></svg>
                    </div>
                    <h2>E-mail поддержки</h2>
                    <span>
                    По вопросам пишите на
                    <a>kahoot@gmail.com</a>
                    </span>
                    <br/>
                    <button onclick="window.location.href = 'mailto:kahoot@gmail.com'">Написать</button>
                </div>

                <div class="contact">
                    <div class="contact-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-icon lucide-send"><path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"/><path d="m21.854 2.147-10.94 10.939"/></svg>
                    </div>
                    <h2>ТГ поддержки</h2>
                    <span>
                    Вы можете обратиться за технической поддержкой через Telegram
                    </span>
                    <br/>
                    <button onclick="window.open('https://web.telegram.org/a/', '_blank')">Написать</button>
                </div>

                <div class="contact">
                    <div class="contact-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cpu-icon lucide-cpu"><path d="M12 20v2"/><path d="M12 2v2"/><path d="M17 20v2"/><path d="M17 2v2"/><path d="M2 12h2"/><path d="M2 17h2"/><path d="M2 7h2"/><path d="M20 12h2"/><path d="M20 17h2"/><path d="M20 7h2"/><path d="M7 20v2"/><path d="M7 2v2"/><rect x="4" y="4" width="16" height="16" rx="2"/><rect x="8" y="8" width="8" height="8" rx="1"/></svg>️
                    </div>
                    <h2>Внутриигровая поддержка</h2>
                    <span>
                    Если у вас нет возможности написать нам в Телеграм или на Почту, вы можете обратиться за техничкской поддержкой прямо в внутриигровой чат.
                    </span>
                    <br/>
                    <button onclick="techChat()" id="techChatBtn">Написать</button>
                    <button id="loadingBtn" hidden>Загрузка...</button>
                </div>
            </div>

            <div class="faq-container">
                <div class="faq">
                    <h2>Частые вопросы</h2>
                    <br/>
                    <br/>
                    <section class="faq-section" id="faqSection-1">
                        <button onclick="openAnswerMenu('1')">
                            <h2>Что это за платформа?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Это онлайн-платформа для викторин, вдохновлённая Kahoot. Она позволяет создавать свои игры, добавлять вопросы (включая изображения), настраивать время на ответы и управлять приватностью игры.
                        </div>
                    </section>

                    <section class="faq-section" id="faqSection-2">
                        <button onclick="openAnswerMenu('2')">
                            <h2>Как присоединиться к игре?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Чтобы присоединиться, достаточно ввести уникальный код игры, который создаёт ведущий (автор игры). После ввода кода вы сразу попадёте в игру.
                            Также вы можете принять приглашение ведущего или любого другого игрока из списка друзей.
                            Однако важно понимать, что если приглашение приходит не от ведущего, а от вашего друга, и игра находится в приватном режиме, то при отсутствии вас в списке друзей ведущего вы можете быть исключены из игры.
                        </div>
                    </section>

                    <section class="faq-section" id="faqSection-3">
                        <button onclick="openAnswerMenu('3')">
                            <h2>Нужно ли регистрироваться для участия?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Да, для участия в игре регистрация обязательна.
                            Так-же регистрация потребуется для создания своей игры.
                        </div>
                    </section>

                    <section class="faq-section" id="faqSection-4">
                        <button onclick="openAnswerMenu('4')">
                            <h2>Какие настройки доступны при создании викторины?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Создатель игры может:
                            <ol>
                                <li>Добавлять текстовые вопросы и изображения;</li>
                                <li>Настраивать время на ответ для каждого вопроса;</li>
                                <li>Указывать, будет ли игра публичной или приватной;</li>
                                <li>Контролировать доступ к игре.</li>
                            </ol>
                        </div>
                    </section>

                    <section class="faq-section" id="faqSection-5">
                        <button onclick="openAnswerMenu('5')">
                            <h2>Можно ли загружать картинки в вопросы?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Да, при создании вопросов можно добавлять изображения, чтобы сделать викторину более наглядной и интересной.
                        </div>
                    </section>

                    <section class="faq-section" id="faqSection-6">
                        <button onclick="openAnswerMenu('6')">
                            <h2>Какие языки поддерживает платформа?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Сейчас доступны два языка:
                            <ul>
                                <li>Русский</li>
                                <li>Английский</li>
                            </ul>
                            Переключение языка происходит автоматически или вручную в настройках.
                        </div>
                    </section>

                    <section class="faq-section" id="faqSection-7">
                        <button onclick="openAnswerMenu('7')">
                            <h2>Что такое лидерборд?</h2>
                            <span class="faq-open">+</span>
                        </button>
                        <div class="faq-answer">
                            <div class="faq-line"></div>
                            Лидерборд — это таблица результатов, которая показывает, кто из участников набрал больше всего очков в викторине. Таблица обновляется после каждого вопроса.
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/contacts.js"></script>
</body>
</html>