<link rel="stylesheet" href="/stylesheets/footer.css">
<footer id="footerSection">
    <div class="footer-container">
        <div class="footer-links">
            <div class="footer-our-company">
                <div>
                    <img src="../images/icon.png" class="company-logo">
                    <h3>Kahoot</h3>
                </div>
                <p>Kahoot - игровая обучающая платформа, используемая в классе в школах и других учебных заведениях.</p>
            </div>
            <div class="footer-info">
                <h3>Информация</h3>
                <a href="/aboutUs">О нас</a>
                <a href="/rules">Правила использования</a>
                <a href="/privacyPolicy">Политика конфиденциальности</a>
            </div>
            <div class="contact-us">
                <h3>Связь с нами</h3>
                <a href="mailto:hffreelancers@gmail.com" style="color: #b7b4be">Kahoot@gmail.com</a>
                <a href="tel:циферки" style="color: #b7b4be">+7 123 456 78 90</a>
            </div>
        </div>
        <div class="line"></div>
        <p class="company-name">&copy; Kahoot 2025. Все права защищены. Полное или частичное копирование сайта запрещено.</p>
    </div>
</footer>