<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <noscript>
        <style>
            body{
                overflow: hidden;
            }
        </style>
        <div class="header-barrier"></div>
        <div class="header-border">
            <h1>JavaScript отключён!</h1>
            <p>Для корректной работы сайта включите JavaScript в настройках вашего браузера. Вот как это сделать:</p>
            <ul style="text-align: left; display: inline-block;">
                <li><strong>Google Chrome:</strong> Откройте настройки → Конфиденциальность и безопасность → Настройки сайта → JavaScript → Включите.</li>
                <li><strong>Mozilla Firefox:</strong> Введите <code>about:config</code> в адресной строке → Найдите <code>javascript.enabled</code> → Установите в <code>true</code>.</li>
                <li><strong>Safari:</strong> Откройте настройки → Безопасность → Включите опцию JavaScript.</li>
                <li><strong>Microsoft Edge:</strong> Перейдите в параметры → Файлы cookie и разрешения сайта → JavaScript → Включите.</li>
                <li style="text-align: center;"><a href="/">Обновите страницу</a> после того, как включите JavaScript.</li>
            </ul>
            <p style="margin-top: -10px;">Если после всех действий не удалось решить проблему, обратитеть в <a href="mailto:hffreelancers@gmail.com">поддержку.</a></p>
            <br>
        </div>
    </noscript>
</head>
<script>
    const localeType = '<%= locale %>';
    const sendId = '<%= user.id %>';
</script>
<body>
<header>
    <div class="container-logo">
        <h2><a class="logo" href="/">𝓚𝓪𝓱𝓸𝓸𝓽</a></h2>
    </div>

    <div>
        <ul class="get">
            <li id="account"></li>
        </ul>
    </div>

    <div id="language">
        <% if (locale === 'en') { %>
            <div class="dropdown" style="height: 35px;">
                <span class="dropdown-title" style="background: none">
                    <img src="/images/english-flag.jpg">
                </span>
                <div class="dropdown-content">
                    <span class="locale">
                        <img src="/images/russia-flag.png" onclick="changeLocaleRu();">
                    </span>
                </div>
            </div>
            <% } else { %>
                <div class="dropdown" style="height: 35px;">
                    <span class="dropdown-title" style="background: none">
                        <img src="/images/russia-flag.png">
                    </span>
                    <div class="dropdown-content">
                        <span class="locale">
                            <img src="/images/english-flag.jpg" onclick="changeLocaleEn();">
                        </span>
                    </div>
                </div>
            <% } %>
    </div>
</header>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/header.js"></script>
<script src="/javascripts/locale.js"></script>
<script src="/javascripts/friends.js"></script>
<script src="/javascripts/alert.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    socket.emit('requestMyFriendsCount', sendId);
</script>
</body>
</html>