<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Главная</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<script>
    const cookiesType = '<%= acceptCookies %>';
    const effects = '<%= mainEffects %>';
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div class="home-container">
        <a class="btn" onclick="redirectPage('/create-game')">📜 Создать игру</a>
        <a class="btn" onclick="findGame()">🔎 Найти игру</a>
        <a class="btn" onclick="redirectPage('/my-games')">🎮 Мои игры</a>
        <a class="btn" onclick="redirectPage('/friends')">👥 Друзья</a>
        <a class="btn" onclick="redirectPage('/settings')">⚙ Настройки</a>
        <a class="btn support-btn" href="/support">📩 Поддержка</a>
    </div>


    <div class="new-border" id="border" hidden>
        <h4 style="text-align: center">Поиск доступных игр</h4>
        <div class="border-data">
            <input type="text" name="text" placeholder="Куда отправимся?" class="find-input" id="infoInput">
            <br>
            <br>
            <button type="submit" id="searchButton" class="find-button">Присоенидиться</button>
        </div>
        <button class="close-btn" id="close">X</button>
    </div>


<!--    <div class="auth-border" id="authBorder" hidden>-->
<!--        <div class="auth-data">-->
<!--            <h2>Вы не авторизованы!</h2>-->
<!--            <p>Войдите в учётную запись или создайте аккаунт.</p>-->
<!--            <button onclick="window.location.href = '/auth/login'" class="auth-btn">Войти</button>-->
<!--            <button onclick="window.location.href = '/auth/register'" class="auth-btn">Создать аккаунт</button>-->
<!--            <br>-->
<!--            <br>-->
<!--            <span>Регистрируясь или авторизируясь, вы принимаете наши <a class="termsOfUse" href="/rules" target="_blank">Условия использования</a> и <a href="/privacyPolicy" target="_blank" class="privacyPolicy">Политику конфиденциальности</a>.</span>-->
<!--        </div>-->
<!--        <button class="close-btn" id="closeAuthBorder">X</button>-->
<!--    </div>-->

    <div class="brutalist-card" id="authBorder" hidden>
        <div class="brutalist-card__header">
            <div class="brutalist-card__icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
                    ></path>
                </svg>
            </div>
            <div class="brutalist-card__alert">Вы не авторизованы!</div>
        </div>
        <div class="brutalist-card__message">
            <span>Войдите в учётную запись или создайте аккаунт.</span>
            <br>
            <br>
            <span>Регистрируясь или авторизируясь, вы принимаете наши <a class="termsOfUse" href="/rules" target="_blank">Условия использования</a> и <a href="/privacyPolicy" target="_blank" class="privacyPolicy">Политику конфиденциальности</a>.</span>
        </div>
        <div class="brutalist-card__actions">
            <button onclick="window.location.href = '/auth/login'" class="auth-btn">Войти</button>
            <button onclick="window.location.href = '/auth/register'" class="auth-btn">Создать аккаунт</button>
        </div>
        <button class="close-btn" id="closeAuthBorder">X</button>
    </div>


    <div class="new-barrier" id="barrier" hidden></div>
</main>


<footer id="acceptCookiesFooter">
    <p>
        Мы используем файлы cookie, чтобы обеспечить вам максимальное удобство использования нашего веб-сайта.
        <a href="/privacyPolicy"> Правила конфиденциальности</a>.
        <button onclick="acceptCookiesFunc()">ОК</button>
    </p>
</footer>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
