<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Политика конфиденциальности</title>
    <link rel="stylesheet" href="/stylesheets/privacyPolicy.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <br>
    <div class="privacyPolicy-container">
        <div class="privacyPolicy-info">
            <h2>Политика конфиденциальности</h2>
            <div style="padding-left: 20px;">
                <b>Сбор и использование информации:</b>
                <p>
                    Мы собираем только ту информацию, которая необходима для оказания услуг нашего сайта. Это может включать имя, адрес электронной почты, IP-адрес, а также другие данные, которые вы предоставляете нам добровольно.
                </p>
                <p>
                    При регистрации и авторизации на сайте мы также собираем данные, которые вы предоставляете, включая имя пользователя, адрес электронной почты и другие необходимые данные для создания учётной записи.
                </p>

                <b>Хранение и защита данных:</b>
                <p>
                    Мы обеспечиваем безопасное хранение ваших данных и применяем соответствующие меры безопасности для защиты их от несанкционированного доступа, изменения или утраты.
                </p>

                <b>Предоставление данных третьим лицам:</b>
                <p>
                    Ваши данные могут быть переданы третьим лицам только в случаях, предусмотренных законодательством, или с вашего явного согласия.
                </p>

                <b>Права пользователей:</b>
                <p>
                    Вы имеете право запросить доступ к вашим личным данным, их исправление или удаление. Вы также можете отозвать своё согласие на обработку данных в любое время.
                </p>

                <b>Изменения в политике конфиденциальности:</b>
                <p>
                    Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. В случае внесения изменений мы уведомим вас об этом через доступные средства связи или опубликуем обновлённую версию на нашем сайте.
                </p>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
