<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Правила использования</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/rules.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="rules-container">
        <div class="rules-info">
            <h2>Правила использования</h2>
            <div style="margin-left: 20px;">
                <b>Цель проекта:</b>
                <p>
                    Этот сайт предназначен для проведения интерактивных викторин и образовательных игр в реальном времени. Он создан в образовательных и развлекательных целях для учеников, студентов, преподавателей и всех желающих весело и с пользой провести время.
                </p>

                <b>Права и обязанности пользователей:</b>
                <p>
                    Пользователи обязаны использовать платформу честно и ответственно. Запрещены попытки взлома, обхода системы, использование ботов, а также размещение оскорбительного, вредоносного или незаконного контента.
                </p>

                <b>Интеллектуальная собственность:</b>
                <p>
                    Все элементы сайта (дизайн, логика игры, визуальные материалы) защищены авторским правом. Контент, созданный пользователями (викторины, вопросы и т.п.), остаётся их собственностью, но может быть использован на платформе согласно пользовательскому соглашению.
                </p>

                <b>Ограничение ответственности:</b>
                <p>
                    Администрация платформы не несёт ответственности за ошибки в контенте, созданном пользователями, а также за возможные сбои в работе сервиса. Мы стремимся поддерживать стабильную и безопасную работу сайта, но не можем гарантировать абсолютную бесперебойность.
                </p>

                <b>Сторонние ссылки и ресурсы:</b>
                <p>
                    В некоторых викторинах могут встречаться внешние ссылки. Мы не несем ответственности за их содержание. Используйте их с осторожностью и на свой страх и риск.
                </p>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
