<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Правила использования</title>
    <link rel="stylesheet" href="/stylesheets/rules.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="rules-container">
        <div class="rules-info">
            <h2>Правила использования</h2>
            <div style="margin-left: 20px;">
                <b>Цели сайта:</b>
                <p>
                    Сайт <a href="/">Kahoot</a> предназначен для предоставления информации о наших услугах веб-разработки, продажи готовых веб-проектов и возможностей заказа индивидуальных разработок.
                </p>

                <b>Права и обязанности пользователей:</b>
                <p>
                    Пользователи обязуются соблюдать действующее законодательство при использовании нашего сайта. Запрещается размещение недобросовестной или вредоносной информации, нарушение авторских прав, а также использование сайта в целях незаконной деятельности.
                </p>

                <b>Интеллектуальная собственность:</b>
                <p>
                    Весь контент, размещенный на сайте <a href="/">Kahoot</a>, защищен законом об авторских правах. Перепечатка, копирование или использование материалов сайта без согласия правообладателя запрещено.
                </p>

                <b>Ограничение ответственности:</b>
                <p>
                    Администрация сайта <a href="/">Kahoot</a> не несет ответственности за убытки или ущерб, возникшие в результате использования информации, предоставленной на сайте. Мы не гарантируем полноту, точность или актуальность предоставленных данных.
                </p>

                <b>Ссылки на сторонние ресурсы:</b>
                <p>
                    Наш сайт может содержать ссылки на сторонние ресурсы, но мы не несем ответственности за содержимое или политику конфиденциальности этих ресурсов. Пользование ими осуществляется на ваш риск.
                </p>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
</body>
</html>
