<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление аккаунта</title>
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
<main class="auth">
    <form id="changePasswordForm" method="POST">
        <div class="card">
            <div style="display: flex; gap: 10px;">
                <a href="/" class="card__a"><i class="fa fa-home"></i></a>
                <span class="card__title">Восстановление</span>
            </div>
            <p class="card__content" style="font-family: Arial, sans-serif">
                Мы отправили код подтверждения на почту: <%= email %>
            </p>
            <div class="card__form">
                <p class="text">Код подтвеждения</p>
                <input type="text" id="code" name="code" class="card__form-input" placeholder="Введите код подтвеждения" autocomplete="off" required>
                <p class="text">Новый пароль</p>
                <div class="input-wrapper">
                    <input type="password" id="password" name="password" class="card__form-input" placeholder="Введите новый пароль" required>
                    <div class="toggle-password">
                        <i data-lucide="eye-off" class="icon" id="tp" onclick="togglePassword()"></i>
                    </div>
                </div>
                <p class="text">Повтор пароля</p>
                <input type="password" id="confirmPassword" name="confirmPassword" class="card__form-input" placeholder="Повторите пароль" required>
                <br/>
                <button type="submit" class="card__button" id="changePasswordBtn">Сменить пароль</button>
                <button class="card__button" id="loaderButton" hidden>
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </button>
            </div>
        </div>
    </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/auth/accountRecovery.js"></script>
</body>
</html>
