<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забыл пароль</title>
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<main class="auth">
    <div id="emailForm">
        <div class="card">
            <div style="display: flex; gap: 10px;">
                <a href="/" class="card__a"><i class="fa fa-home"></i></a>
                <span class="card__title">Забыл пароль</span>
            </div>
            <p class="card__content">
                Введите ваш электронный адрес, чтобы найти свой аккаунт.
            </p>
            <form id="findEmailForm" method="POST">
                <div class="card__form">
                    <p class="text">Эл. адрес</p>
                    <input type="email" id="email" name="email" class="card__form-input" placeholder="Введите свой Эл. адрес" required>
                    <button class="card__button" type="submit" id="findEmailBtn">Отправить код</button>
                    <button class="card__button" id="loaderButton" hidden>
                        <section class="dots-container">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </section>
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/auth/forgetPassword.js"></script>
</body>
</html>
