<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забыл пароль</title>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<div id="emailForm">
    <div class="card">
        <div style="display: flex; gap: 10px;">
            <a href="/" class="card__a"><i class="fa fa-home"></i></a>
            <span class="card__title">Забыл пароль</span>
        </div>
        <p class="card__content">
            Введите ваш электронный адрес, чтобы найти свой аккаунт.
        </p>
        <form id="findEmailForm" method="POST">
            <div class="card__form">
                <p class="text">Эл. адрес</p>
                <input type="email" id="email" name="email" class="card__form-input" placeholder="Введите свой Эл. адрес" required>
                <button class="card__button" type="submit" id="findEmailBtn">Отправить код</button>
                <div class="card__button" style="padding: 10px 0; width: 98.5%; height: 21px; opacity: 1" id="loaderBtn" hidden>
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/javascripts/auth/forgetPassword.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
