<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забыл пароль</title>
    <link rel="stylesheet" href="/stylesheets/forget-password.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
    <style>
        .theme{
            position: absolute;
            top: 5%;
            left: 1%;
            transform: translate(0, -50%);
        }

        .switch {
            font-size: 17px;
            position: relative;
            display: inline-block;
            width: 3.5em;
            height: 2em;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            --background: #1c1c23;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--background);
            transition: .5s;
            border-radius: 30px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            border-radius: 50%;
            left: 10%;
            bottom: 15%;
            box-shadow: inset 8px -4px 0px 0px #fff000;
            background: var(--background);
            transition: .5s;
        }

        input:checked + .slider {
            background-color: #fff;
        }

        input:checked + .slider:before {
            transform: translateX(100%);
            box-shadow: inset 15px -4px 0px 15px #fff000;
        }
    </style>
</head>
<body>
<div class="theme">
    <label class="switch">
        <input type="checkbox" id="theme">
        <span class="slider"></span>
    </label>
</div>
<div class="form-container" id="emailForm">
    <div class="logo-container">
        Забыл пароль
    </div>
    <h4>Введите ваш электронный адрес, чтобы найти свой аккаунт.</h4>

    <form class="form" id="passwordResetForm" method="POST">
    <div class="form-group">
            <label for="email">Эл. адрес</label>
            <input type="email" id="email" name="email" placeholder="Введите свой эл. адрес" required>
        </div>
        <br>
        <button class="form-submit-btn" type="submit">Отправить код</button>
    </form>

    <p class="no-account">У вас ещё нет аккаунта?<a href="/auth/register" class="link"> Создать</a></p>
    <a href="/" style="text-align: center; text-decoration: none; color: #1778f2">На главную</a>
</div>
<script src="/javascripts/auth/forgetPassword.js"></script>
<script src="/javascripts/warning.js"></script>
<script src="/javascripts/theme.js"></script>
</body>
</html>
