<!DOCTYPE html>
<html lang="ru" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сессия истекла</title>
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<script>
    const localeType = '<%= locale %>';
</script>
<body>
<main class="auth">
    <form method="POST" id="loginForm">
        <div class="card">
            <div class="card__info">
                <a href="/" class="card__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-left-icon lucide-arrow-big-left"><path d="M13 9a1 1 0 0 1-1-1V5.061a1 1 0 0 0-1.811-.75l-6.835 6.836a1.207 1.207 0 0 0 0 1.707l6.835 6.835a1 1 0 0 0 1.811-.75V16a1 1 0 0 1 1-1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1z"/></svg><!--                    <i class="fa fa-home"></i>-->
                </a>
                <span class="card__title">Сессия истекла</span>
            </div>
            <p class="card__content">
                Ваша сессия истекла. Пожалуйста, войдите снова и выберите "Запомнить меня", если хотите оставаться в системе.
            </p>
            <div class="card__form">
                <p class="text">Эл. адрес</p>
                <input type="email" id="email" name="email" class="card__form-input" placeholder="Введите свой Эл. адрес" required>
                <p class="text">Пароль</p>
                <div class="input-wrapper">
                    <input type="password" id="pwd" name="password" class="card__form-input" placeholder="Введите свой пароль" required>
                    <div class="toggle-password">
                        <i data-lucide="eye-off" class="icon" id="tp" onclick="togglePassword()"></i>
                    </div>
                </div>
                <div class="password-group">
                    <div class="checkbox-group">
                        <input type="checkbox" id="rememberMeCheckbox">
                        <label class="remember-me" for="rememberMeCheckbox">Запомнить меня</label>
                    </div>
                    <a href="/auth/forget-password" class="forget-password">Я забыл проль</a>
                </div>
                <button class="card__button" id="loginButton">Войти</button>
                <button class="card__button" id="loaderButton" hidden onclick="return false">
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </button>
            </div>
            <p class="no-account">У вас ещё нет аккаунта? <a href="/auth/register" class="link">Создать</a></p>
        </div>
    </form>
</main>
<div class="toast-container" id="toast-container"></div>
<script src="/javascripts/auth/sessionLogin.js"></script>
<script src="/javascripts/alert.js"></script>
<script src="/javascripts/pageIdentificator.js"></script>
</body>
</html>
