<link rel="stylesheet" href="/stylesheets/back.css">
<div class="back" id="back">
    <a href="/" class="color-btn" style="margin-top: -0.3px;"><%= locale === 'en' ? 'Home' : 'Главная' %></a>
    <span id="pageName" style="display: flex; gap: 5px;">

    </span>
</div>
<br>
<script src="/javascripts/back.js"></script>
