<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | About us</title>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="ab-container">
        <div class="ab-info">
            <h2>About Us</h2>
            <p>Welcome to <a href="/">Kahoot</a> – your personal partner in web development! We are a team of experienced and talented web developers, ready to create high-quality and functional websites for you, tailored to any tasks and requirements.</p>

            <p>Our mission is to help you bring your ideas to life on the internet and achieve success in the digital world. We strive for high quality, innovation, and meeting our clients' needs.</p>

            <p>What sets us apart:</p>

            <ul>
                <li>Professionalism: We have extensive experience in web development and keep up with the latest technological trends to offer you modern and innovative solutions.</li>
                <li>Individual Approach: We understand that every project is unique, so we work closely with each client to fully understand their needs and expectations.</li>
                <li>Quality: We pay special attention to details and strive for the highest quality in every project we undertake.</li>
                <li>Transparency: We value our clients' trust, so we ensure open and transparent communication at all stages of collaboration.</li>
            </ul>

            <h3 style="margin-left: 20px;">Innovative Approach:</h3>
            <p>We constantly monitor the latest technological trends and strive for innovation in our work. We are always looking for new ways to improve our services and provide our clients with modern and effective solutions.</p>

            <h3 style="margin-left: 20px;">Feedback and Improvement:</h3>
            <p>We value our clients' opinions and continuously strive to improve the quality of our services. We are open to feedback and always ready to adapt our approach to better meet our clients' needs.</p>
        </div>

    </div>
</main>
</body>
</html>
