<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Assistance to the project</title>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="ab-container">
        <div class="ab-info">
            <h2>Why Your Support Matters</h2>
            <p>
                Our project is a completely free platform created with love for all users.
                We don't show you annoying ads, don't sell your data, and strive to make everything as convenient and simple as possible.
            </p>
            <p>
                However, in order for everything to keep running - servers, hosting, development, and site maintenance - we need resources.
                By supporting the project with even a small amount, you help us maintain stability and continue growing.
            </p>
            <p>
                Thank you to everyone who helps - you make this place better!
            </p>

        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
</body>
</html>
