<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | About us</title>
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="ab-container">
        <div class="ab-info">
            <h2>About Us</h2>
            <b>Yep, we played Kahoot during class too — and got really into it!</b>
            <p>So we thought: why not create our own version? We want everyone to have a fun and easy way to make quizzes, host games, and challenge friends while boosting their brainpower. Join us and invite others who love some fun and friendly competition!</p>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
