<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Home</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<script>
    const cookiesType = '<%= acceptCookies %>';
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div class="home-container">
        <a class="btn" href="/create-game">📜 Create Game</a>
        <a class="btn" onclick="findGame()">🔎 Find Game</a>
        <a class="btn" href="/my-games">🎮 My Games</a>
        <a class="btn" href="/friends">👥 friends</a>
        <a class="btn" href="/settings">⚙ Settings</a>
        <a class="btn support-btn" href="/support">📩 Support</a>
    </div>
    <div class="new-border" id="border" hidden>
        <b id="close" style="position: absolute; right: 5px; top: 10px; cursor:pointer; color: black">X</b>
        <h4 style="text-align: center">Search for available games</h4>
        <div class="border-data">
            <input type="text" name="text" placeholder="Where shall we go?" class="find-input" id="infoInput">
            <br>
            <br>
            <button type="submit" id="searchButton" class="find-button">Join</button>
        </div>
    </div>

    <div class="new-barrier" id="barrier" hidden></div>

    <div class="different-rules">
    <span style="border-bottom: 1px solid black">
        <b id="openRulesContainer">Rules</b>
    </span>
        <div id="rulesContainer" hidden>
            <br>
            <br>
            <span>
                <a href="/privacyPolicy" target="_blank">Privacy Policy</a>
            </span>
            <br>
            <br>
            <span>
                <a href="/rules" target="_blank">Terms of Use</a>
            </span>
            <br>
            <br>
            <span>
                <a href="/aboutUs" target="_blank">About Us</a>
            </span>
            <br>
            <br>
        </div>
    </div>
</main>
<footer id="acceptCookiesFooter">
    <p>
        We use cookies to ensure you get the best experience on our website.
        <a href="/privacyPolicy">Privacy Policy</a>.
        <button onclick="acceptCookiesFunc()">
            OK
        </button>
    </p>
</footer>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
