<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Home</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<script>
    const cookiesType = '<%= acceptCookies %>';
    const effects = '<%= mainEffects %>';
    const mainImage = '<%= mainBackgroundImage %>';
</script>
<body>
<%- include('header.ejs') %>
<main>
    <div class="home-container">
        <% if (user && user.id) { %>
            <a class="btn" onclick="redirectPage('/create-game')">📜 Create Game</a>
            <a class="btn" onclick="findGame()">🔎 Find Game</a>
            <a class="btn" onclick="redirectPage('/my-games')">🎮 My Games</a>
            <a class="btn" onclick="redirectPage('/channels/@me')">👥 Friends</a>
            <a class="btn" onclick="redirectPage('/settings')">⚙ Account settings</a>
            <a class="btn support-btn" href="/support">📩 Support</a>
        <% } else { %>
                <a class="btn" onclick="authMenu()">📜 Start the game</a>
                <a class="btn support-btn" href="/support">📩 Support</a>
        <% } %>
    </div>

    <div class="new-border" id="border" hidden>
        <b id="close" style="position: absolute; right: 5px; top: 10px; cursor:pointer; color: black">X</b>
        <h4 style="text-align: center">Search for available games</h4>
        <div class="border-data">
            <input type="text" name="text" placeholder="Where shall we go?" class="find-input" id="infoInput">
            <br>
            <br>
            <button type="submit" id="searchButton" class="find-button">Join</button>
        </div>
    </div>


    <div class="brutalist-card" id="authBorder" hidden>
        <div class="brutalist-card__header">
            <div class="brutalist-card__icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
                    ></path>
                </svg>
            </div>
            <div class="brutalist-card__alert">You are not logged in!</div>
        </div>
        <div class="brutalist-card__message">
            <span>Sign in or create an account.</span>
            <br>
            <br>
            <span>By registering or logging in, you agree to our <a class="termsOfUse" href="/rules" target="_blank">Terms of Use</a> and <a href="/privacyPolicy" target="_blank" class="privacyPolicy">Privacy Policy</a>.</span>
        </div>
        <div class="brutalist-card__actions">
            <button onclick="window.location.href = '/auth/login'" class="auth-btn">Log in</button>
            <button onclick="window.location.href = '/auth/register'" class="auth-btn">Create an account</button>
        </div>
        <button class="close-btn" id="closeAuthBorder">X</button>
    </div>

    <div class="new-barrier" id="barrier" hidden></div>
</main>
<footer id="acceptCookiesFooter">
    <p>
        We use cookies to ensure you get the best experience on our website.
        <a href="/privacyPolicy">Privacy Policy</a>.
        <button onclick="acceptCookiesFunc()">
            OK
        </button>
    </p>
</footer>
<script src="/javascripts/timer.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/effects.js"></script>
</body>
</html>
