<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Privacy Policy</title>
    <link rel="stylesheet" href="/stylesheets/privacyPolicy.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <br>
    <div class="privacyPolicy-container">
        <div class="privacyPolicy-info">
            <h2>Privacy Policy</h2>
            <div style="padding-left: 20px;">
                <b>Collection and Use of Information:</b>
                <p>
                    We collect only the information necessary to provide the services of our website. This may include your name, email address, IP address, and other data that you voluntarily provide to us.
                </p>
                <p>
                    During registration and login on the website, we also collect data you provide, including your username, email address, and other necessary information required to create an account.
                </p>

                <b>Data Storage and Protection:</b>
                <p>
                    We ensure secure storage of your data and apply appropriate security measures to protect it from unauthorized access, modification, or loss.
                </p>

                <b>Sharing Data with Third Parties:</b>
                <p>
                    Your data may be shared with third parties only in cases provided by law or with your explicit consent.
                </p>

                <b>User Rights:</b>
                <p>
                    You have the right to request access to your personal data, correct it, or delete it. You can also withdraw your consent to data processing at any time.
                </p>

                <b>Changes to the Privacy Policy:</b>
                <p>
                    We reserve the right to make changes to our privacy policy. In the event of changes, we will notify you via available communication channels or publish the updated version on our website.
                </p>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
