<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Игра переполнена</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/return-menu.css">
</head>
<body>
<main>
    <div class="card">
        <div class="header">
    <span class="icon">
      <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" fill-rule="evenodd"></path>
      </svg>
    </span>
            <p class="alert">Игра переполнена!</p>
        </div>

        <p class="message">
            К сожалению, данная игра уже заполнена. Повторите попытку позже.
        </p>

        <div class="actions">
            <a class="read" onclick="returnGame()">
                Повторить попытку
            </a>

            <a class="mark-as-read" href="/">
                В главное меню
            </a>
        </div>
    </div>
</main>
<script>
    function returnGame(){
        window.location.href = `/game/${sessionStorage.getItem('return_id')}`;
    }
</script>
</body>
</html>
