<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Terms of Use</title>
    <link rel="stylesheet" href="/stylesheets/rules.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<%- include('header.ejs') %>
<main>
    <div class="rules-container">
        <div class="rules-info">
            <h2>Terms of Use</h2>
            <div style="margin-left: 20px;">
                <b>Website Purpose:</b>
                <p>
                    The <a href="/">Kahoot</a> website is intended to provide information about our web development services, offer pre-built web projects for sale, and facilitate custom project orders.
                </p>

                <b>Users' Rights and Responsibilities:</b>
                <p>
                    Users are required to comply with applicable laws while using our website. Posting malicious or dishonest information, infringing copyright, or using the website for illegal activities is prohibited.
                </p>

                <b>Intellectual Property:</b>
                <p>
                    All content on the <a href="/">Kahoot</a> website is protected by copyright law. Reprinting, copying, or using materials from the website without the owner's consent is prohibited.
                </p>

                <b>Limitation of Liability:</b>
                <p>
                    The <a href="/">Kahoot</a> website administration is not responsible for any losses or damages resulting from the use of information provided on the website. We do not guarantee the completeness, accuracy, or timeliness of the data provided.
                </p>

                <b>Links to Third-Party Resources:</b>
                <p>
                    Our website may contain links to third-party resources, but we are not responsible for the content or privacy policies of those resources. Using them is at your own risk.
                </p>
            </div>
        </div>
    </div>
</main>
<br>
<br>
<br>
<br>
<%- include('footer.ejs') %>
<script src="/javascripts/timer.js"></script>
</body>
</html>
