.success-card {
    max-width: 330px;
    width: 100%;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    position: fixed;
    bottom: 100px;
    right: -300px;
    transition: transform 0.5s ease-in-out;
    animation: show 0.7s forwards;
    cursor: pointer;
}
@keyframes show {
    to {
        transform: translateX(-100%);
    }
}

.back-show {
    animation: backShow 0.5s forwards;
    cursor: pointer;
}

@keyframes backShow {
    from {
        transform: translateX(-100%);
        cursor: pointer;
    }
    to {
        transform: translateX(+100%);
        cursor: pointer;
    }
}

.success-wave {
    position: absolute;
    transform: rotate(90deg);
    left: -31px;
    top: 32px;
    width: 80px;
    fill: #04e4003a;
    cursor: pointer;
}
.success-icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04e40048;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.success-icon {
    width: 17px;
    height: 17px;
    color: #269b24;
    cursor: pointer;
}
.success-message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    cursor: pointer;
}
.success-message-text,
.success-sub-text {
    margin: 0;
    /*cursor: default;*/
    cursor: pointer;
}
.success-message-text {
    color: #269b24;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.success-sub-text {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}
.success-cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
}



.error-card {
    width: 330px;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    position: fixed;
    bottom: 100px;
    right: -300px;
    transition: transform 0.5s ease-in-out;
    animation: show 0.7s forwards;
    cursor: pointer;
}
.error-wave {
    position: absolute;
    transform: rotate(90deg);
    left: -31px;
    top: 32px;
    width: 80px;
    fill: #fc0c0c3a;
    cursor: pointer;
}
.error-icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc0c0c48;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.error-icon {
    width: 17px;
    height: 17px;
    color: #d10d0d;
    cursor: pointer;
}
.error-message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    cursor: pointer;
}
.error-message-text,
.error-sub-text {
    margin: 0;
    /*cursor: default;*/
    cursor: pointer;
}
.error-message-text {
    color: #d10d0d;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.error-sub-text {
    font-size: 14px;
    /*color: #555;*/
    color: #780000;
    cursor: pointer;
}
.error-cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
}
.success-message-request {
    text-align: center;
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.accept-request {
    color: #269b24;
}
.accept-request:hover {
    text-decoration: underline;
}

.close-menu, .reject-request {
    color: #c1121f;
    text-decoration: none;
}
.close-menu:hover, .reject-request:hover {
    text-decoration: underline;
}



.message-popup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: transform 0.5s ease-in-out;
    animation: showMissedMsg 0.7s forwards;
    width: 300px;
    background-color: #fff;
    border-left: 6px solid #4CAF50;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 16px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
@keyframes showMissedMsg {
    to {
        transform: translateY(-10%);
    }
}
.hideMissedMsg {
    animation: hideMissed 0.5s forwards;
}
@keyframes hideMissed {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.message-popup-close {
    position: absolute;
    top: 1px;
    right: 10px;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.message-popup img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid #4CAF50;
    flex-shrink: 0;
}
.message-popup-content span {
    font-size: 13px;
    margin-top: -2px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.message-popup-content h4 {
    margin: 0 0 6px;
    font-size: 16px;
    color: #333;
}

.message-popup-content p {
    margin: 0;
    font-size: 14px;
    color: #666;
}




.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.toast {
    min-width: 240px;
    max-width: 300px;
    height: 60px;
    padding: 12px 16px;
    border-radius: 8px;
    color: #A9A9B3;
    background: #242632;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: flex;
    /*align-items: flex-start;*/
    gap: 10px;
    opacity: 0;
    transform: translateX(120%);
    animation: slideIn 0.4s ease forwards;
    align-items: center;
}

@keyframes slideIn {
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeOut {
    to { transform: translateX(120%); opacity: 0; }
}
/*.toast.success { background: #16a34a; }*/
/*.toast.error { background: #dc2626; }*/
/*.toast.warning { background: #f59e0b; }*/
.toast.success svg {
    color: #74c69d;
}
.toast.error svg {
    color: #d90429;
}
.toast.warning svg {
    color: orange;
}
.toast-icon { flex-shrink: 0; }
.toast-icon svg { width: 30px; height: 30px; }

.toast-content { flex: 1; }
.toast-title { font-weight: bold; margin-bottom: 4px; }
.toast-message { font-size: 14px; line-height: 1.3; }


@media (max-width: 600px) {
    .success-card {
        bottom: 0;
        height: auto;
        left: 100%;
        right: 0;
        max-width: 600px;
        width: 100%;
    }
    .success-message-request a {
        font-size: 16px;
        font-weight: 700;
    }
}