@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #121518;
    color: #ddd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

html.scroll-bar-off {
    scrollbar-gutter: stable;
}

.chat-header {
    background: #1f2228;
    padding: 15px 20px;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #2a2f37;
    color: #a3d2ca;
    text-shadow: 0 1px 4px #193e3a;
    gap: 50px;
    min-height: 30px;
}
.status-indicator {
    font-size: 14px;
    margin-left: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    background: #444;
    color: white;
}
.status-indicator.online {
    background: #4caf50;
}
.status-indicator.offline {
    background: #9e9e9e;
}

.companion-info {
    padding: 25px 20px;
}
.companion-info img {
    width: 100px;
    height: 100px;
    /*border-radius: 50%;*/
    border-radius: 10px;
    background: linear-gradient(135deg, #5bbfba, #39767a);
    box-shadow: 0 0 8px #4aa9a5cc;
    flex-shrink: 0;
}
.btn {
    border: 1px solid #313338;
    background-color: #242632;
    color: #A9A9B3;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}
.chat-line {
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-line span {
    white-space: nowrap;
    margin-top: 20px;
    color: #A9A9B3;
    /*padding: 5px 5px;*/
}
.chat-line div {
    border: 1px solid #242632;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    background: #181b20;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.message {
    /*margin-bottom: 18px;*/
    animation: fadeIn 0.4s ease;
    padding: 10px 20px 10px;
    /*border-radius: 5px;*/
    /*transition-duration: 0.3s;*/
    transition: background-color 0.3s ease;
}
.message:hover {
    background-color: #212429;
}
.message.reply-highlight {

    transition-duration: 0.3s;
    background-color: #363a53;
}

.message-container {
    display: flex;
    gap: 15px;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(135deg, #5bbfba, #39767a);
    box-shadow: 0 0 8px #4aa9a5cc;
    flex-shrink: 0;
}
.header-avatar {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: linear-gradient(135deg, #5bbfba, #39767a);
    box-shadow: 0 0 8px #4aa9a5cc;
    flex-shrink: 0;
    cursor: pointer;
}

.avatar-position {
    display: flex;
    gap: 10px;
    align-items: center;
}

.chat-position {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.chat-name {
    color: #adb5bd;
    cursor: pointer;
}
.chat-name:hover {
    text-decoration: underline;
}

.chat-name-role {
    margin-bottom: auto;
    margin-left: -5px;
}
.chat-name-role svg {
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: #b0c4b1;
}

.tech-chat {
    color: #a2a8d3;
}
.message-content {
    max-width: 80%;
}
.message-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.username {
    font-weight: 600;
    color: #82c0b8;
    letter-spacing: 0.03em;
}

.timestamp {
    font-size: 12px;
    color: #6c757d;
    font-family: monospace;
}

.text {
    font-size: 15px;
    line-height: 1.4;
    color: #cbd6dc;
    word-break: break-word;
}

.chat-input {
    display: block;
    background: #181b20;
}
.chat-input-message {
    /*background: #1f2228;*/
    padding: 15px 20px;
    /*border-top: 1px solid #2a2f37;*/
    display: flex;
    gap: 10px;
}
.chat-reply {
    background: #2a2f37;
    padding: 10px 10px;
    font-size: 14px;
    text-decoration: none;
}
.chat-reply a {
    margin-left: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.chat-reply b {
    position: absolute;
    right: 25px;
    cursor: pointer;
}
.chat-input input {
    flex: 1;
    padding: 12px 0;
    text-indent: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    background: #2a2f37;
    color: #cbd6dc;
    box-shadow: inset 0 0 5px #3b464f;
    outline-offset: 2px;
    transition: background-color 0.25s ease;
}

.chat-input input::placeholder {
    color: #63707d;
}

.chat-input input:focus {
    background: #3b464f;
}

.chat-input button {
    background: #5bbfba;
    border: none;
    border-radius: 6px;
    color: #1f2228;
    font-weight: 600;
    font-size: 14px;
    padding: 0 25px;
    cursor: pointer;
    box-shadow: 0 0 12px #5bbfbaaa;
    transition: background-color 0.3s ease;
    display: none;
}

.chat-input button:hover {
    background: #479c97;
}


.chat-messages::-webkit-scrollbar {
    width: 8px;
}
.chat-messages::-webkit-scrollbar-track {
    background: #181b20;
}
.chat-messages::-webkit-scrollbar-thumb {
    background: #5bbfbaaa;
    border-radius: 10px;
}

.channel-tools {
    margin-left: auto;
    z-index: 2;
    display: flex;
    gap: 20px;
}
.home {
    color: #ced4da;
    cursor: pointer;
    background-color: #303740;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
.home:hover {
    background-color: #3b464f;
}

.a-link {
    color: #00d3e0;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px dashed #007bff;
    transition: all 0.3s ease;
    word-break: break-all;
    cursor: pointer;
}

.a-link:hover {
    color: #00a7ef;
    border-bottom: 1px solid #0056b3;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    /*max-width: 250px;*/
    max-width: 285px;
    width: 100%;
    background: #1f2228;
    border-top-width: 80vh;
    border-right: 1px solid #2a2f37;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-track {
    background: #181b20;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #5bbfbaaa;
    border-radius: 10px;
}

.sidebar-header {
    font-size: 18px;
    font-weight: 600;
    color: #82c0b8;
    margin-bottom: 15px;
    text-shadow: 0 1px 4px #193e3a;
}
.sidebar-line {
    border: 1px solid #2b2640;
    border-radius: 5px;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-list li {
    margin-bottom: 12px;
}

.chat-link {
    color: #adb5bd;
    text-decoration: none;
    padding: 10px 12px;
    height: 20px;
    display: flex;
    gap: 10px;
    border-radius: 6px;
    background-color: #2a2f37;
    transition: background-color 0.3s ease;
    word-break: break-word;
}
.chat-link:hover {
    background-color: #3b464f;
    color: #ced4da;
}
.chat-link svg {
    width: 20px;
    height: 20px;
    /*margin-top: 5px;*/
}
.chat-link .del-companion {
    color: grey;
    margin-left: auto;
    cursor: pointer;
    align-items: center;
    display: none;
    margin-top: 1px;
}
.chat-link .del-companion svg {
    width: 17px;
    height: 17px;
}
.chat-link span:hover {
    color: white;
}

.chat-selected {
    background-color: #3b464f;
    /*color: #5bbfba;*/
    color: #ced4da;
    user-select: none;
}
.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-tools {
    list-style: none;
    padding: 0;
    margin: 0;
}
.chat-tool {
    color: #ced4da;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    border-radius: 6px;
    /*background-color: #2a2f37;*/
    transition: background-color 0.3s ease;
    word-break: break-word;
    font-weight: 700;
    cursor: pointer;
    margin-top: 5px;
}
.chat-tool:hover {
    background-color: #3b464f;
}


.add-friend {
    display: none;
}
.add-friend-container {
    display: flex;
    gap: 20px;
}
.add-friend-container input {
    background-color: #121518;
    padding: 10px 0;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    color: white;
}
.add-friend-container button {
    padding: 10px 40px;
    height: 100%;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.search-friend input {
    background-color: #121518;
    padding: 10px 0;
    text-indent: 10px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    color: white;
}

ul {
    text-decoration: none;
    list-style-type: none;
}


.tools {
    user-select: none;
    position: relative;
    margin-left: auto;
    /*display: inline-block;*/
    /*width: 100%;*/
    color: #999;
    cursor: pointer;
    font-size: 20px;
    display: none;
    margin-top: -30px;
    /*margin-top: -20px;*/
    /*margin-top: -10px;*/
}
.tools-settings {
    display: flex;
    padding: 7px 10px;
    background-color: #16171d;
    height: 30px;
    border-radius: 10px;
    gap: 10px;
}
.tools-svg {
    display: flex;
    gap: 10px;
    right: 30px;
    top: 1.5px;
}
.tools-svg svg {
    width: 20px;
    padding: 3px 3px;
    border-radius: 4px;
}
.tools-svg svg:hover {
    background-color: #2a2f37;
    color: #fff;
    scale: 1.1;
}
.menu-trigger {
    padding: 3px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.menu-trigger:hover {
    background-color: #2a2f37;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    right: 35px;
    background-color: #1f2228;
    border: 1px solid #2a2f37;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    /*min-width: 130px;*/
    min-width: 250px;
    z-index: 10;
    gap: 10px;
    padding: 8px;
}
.dropdown-menu.active {
    display: block;
}
.dropdown-menu button {
    display: inline-flex;
    height: 40px;
    align-items: center;
    background: none;
    border: none;
    color: #cbd6dc;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}
.dropdown-menu button:hover {
    background-color: #2f343a;
}
.dropdown-menu button svg {
    width: 18px;
    margin-left: auto;
}

.positionWarning {
    justify-content: center;
    padding: 10px 10px;
    background-color: #1f2228;
    opacity: 0;
    display: none;
    align-items: center;
}
.show {
    animation: positionWarningShow 0.7s forwards;
}

@keyframes positionWarningShow {
    to {
        opacity: 1;
    }
}
.positionWarning button {
    background-color: #479c97;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
}


.tools-line {
    border: 1px solid #2a2f37;
    margin-left: 7px;
    /*min-width: 95px;*/
    width: 95%;
}

.edit-input {
    display: block;
    width: 100%;
    max-width: 1000px;
    /*box-sizing: border-box;*/
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background: #2a2f37;
    color: #cbd6dc;
    resize: vertical;
    font-family: inherit;
}

.msg-content {
    display: flex;
    gap: 5px;
}
.edited-msg {
    font-size: 10px;
    /*margin-left: 5px;*/
    margin-top: auto;
    color: grey;
}
.reply-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    padding-left: 5px;
    border-left: 3px solid #5bbfba;
    background-color: #22272e;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    text-decoration: none;
    height: auto;
    word-break: break-word;
}

.reply-avatar {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    box-shadow: 0 0 6px #4aa9a5cc;
    flex-shrink: 0;
}

.reply-text-container {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}
.reply-header {
    font-size: 13px;
    font-weight: 600;
    color: #82c0b8;
    margin-bottom: 3px;
}

.reply-text {
    padding: 2px 2px;
    font-size: 14px;
    color: #a3c9c4;
    font-style: italic;
    white-space: normal;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
    word-break: break-word;
}

.reply-avatarTop {
    max-width: 40px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(135deg, #5bbfba, #39767a);
    box-shadow: 0 0 8px #4aa9a5cc;
    flex-shrink: 0;
    margin-top: auto;
}
.reply-line-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.reply-line {
    position: absolute;
    top: 10px;
    /*left: 50%;*/
    right: 155%;
    /*transform: translateX(-50%);*/
    width: 28px;
    height: 26px;
    border-left: 2px solid #444;
    border-top: 2px solid #444;
    border-radius: 6px 0 0 0;
}

.reply-message {
    background: #363a53;
}
.reply-message:hover {
    background: #363a53;
    opacity: 0.8;
}

.new-barrier{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background: black;
    opacity: 0.6;
    z-index: 3;
}
.delete-border {
    width: 400px;
    /*width: 100%;*/
    height: 150px;
    background-color: #1f242b;
    border-radius: 10px;
    z-index: 5;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*bottom: 0;*/
    border: 1px solid black;
    padding: 10px;
    animation-name: openAnimation;
    animation-duration: 0.4s
}

@keyframes openAnimation {
    from {top: 48%; opacity: 0}
    to {top: 50%; opacity: 1}
}
.delete-modal {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.delete-modal button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #023047;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#requestDeleteFriend {
    background-color: #cc0000;
}
#requestBtn {
    background-color: #cc0000;
}
.delete-modal button:hover {
    opacity: 0.8;
}


.media-width {
    display: none;
    align-items: center;
    font-size: 30px;
    padding: 2px 4px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    margin-top: -5px;
    margin-right: 10px;
}

#channelsMenu {
    display: none;
}

.media-body {
    font-family: Arial, sans-serif;
    background: #121518;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 5;
}

.media-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 70px;
    position: fixed;
    /*z-index: 3;*/
    background-color: #16171d;
    top: 0;
    left: 0;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #313338;
}
.media-header a {
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    color: rgba(132, 116, 254, 1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#closeMediaBorder {
    padding: 10px 15px;
    border: none;
    background-color: #ff4444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: 15px;
}
.media-width {
    display: none;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}
#mediaBorder {
    display: none;
}
.media-border {
    background: #121518;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    left: 0;
    display: flex;
    user-select: none;
    padding: 0 20px;
    z-index: 3;
    overflow-y: scroll;
    animation-name: openMediaBorderAnimation;
    animation-duration: 0.4s
}
@keyframes openMediaBorderAnimation {
    from {transform: translateY(-100%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
.media-scroller {
    padding: 70px 20px;
    flex: 1;
}
.media-tool {
    padding: 0 10px;
}
.media-tool p {
    color: #ECF1FD;
    font-size: 18px;
    font-weight: 500;
}
.media-tool ul {
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
}
.media-tool li {
    margin-bottom: 15px;
}
.media-tool li a {
    cursor: pointer;
    text-decoration: none;
    color: #A9A9B3;
}
.media-b-btn p {
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
}
.media-line {
    height: 1px;
    background: #1f2937;
    padding: 0 10px 0 10px;
}
.media-dropdowns .dropdown {
    max-width: 100px;
}
.media-dropdown-content {
    margin-left: 98px;
    margin-top: -40px;
}
.media-tool .chat-link {
    width: 90%;
}

.media-border::-webkit-scrollbar {
    width: 8px;
}
.media-border::-webkit-scrollbar-track {
    background: none;
}
.media-border::-webkit-scrollbar-thumb {
    background: none;
}

@media (max-width: 2000px) {
    .media-body {
        display: none;
        background: none;
        position: absolute;
        width: 0;
        height: 0;
    }
    .media-border {
        width: 350px;
        right: 0;
        left: auto;
        border: 3px solid #313338;
        z-index: 50;
    }
    .media-header {
        width: 390px;
        right: 0;
        left: auto;
        border: 3px solid #313338;
        height: 67px;
    }
}

@media (max-width: 1000px) {
    .media-width {
        display: block;
        color: #fff;
    }
    .home {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .chat-input button {
        display: block;
    }
    .chat-container {
        position: fixed;
        width: 100%;
    }
    .chat-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px 0;
    }
    .chat-name, #onlineMod {
        font-size: 15px;
        align-items: center;
    }
    .search-friend {
        margin-top: 60px;
    }
    .chat-header {
        z-index: 5;
    }
    .chat-messages {
        /*position: fixed;*/
        /*top: 0;*/
        /*left: 0;*/
        margin-top: 82px;
        margin-left: 0;
        margin-right: 0;
        /*box-sizing: border-box;*/
        /*width: 948px;*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin-bottom: 20px;*/
        /*padding-bottom: 0;*/
        /*height: 100%;*/
        /*padding-bottom: 135px;*/
        /*padding-bottom: 20px;*/
        /*width: 100%;*/
    }
    .media-chat-info {
        /*display: none;*/
        /*position: fixed;*/
        /*bottom: 0;*/
        /*width: 100%;*/
    }
    .message {
        user-select: none;
    }
    .dropdown-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-top: auto;
        background-color: #1f2228;
        border: 1px solid #2a2f37;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        display: none;
        flex-direction: column;
        width: 100%;
        max-height: 400px;
        height: 100%;
        z-index: 10;
        gap: 10px;
        padding: 10px 0;
    }
    .dropdown-menu button {
        padding: 20px;
    }
    .add-friend {
        margin-top: 60px;
    }
    /*.friend-container {*/
    /*    width: 55%;*/
    /*}*/
    body {
        overflow: hidden;
        touch-action: none;
        user-select: none;
    }
}
@media (max-width: 600px) {
    .media-body {
        display: block;
    }
    .media-border {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        border: none;
        left: 0;
    }
    .media-header {
        width: 100%;
        border: none;
        left: 0;
    }

    /*.chat-messages::-webkit-scrollbar {*/
    /*    display: none;*/
    /*}*/
    /*.chat-messages::-webkit-scrollbar-track {*/
    /*    display: none;*/
    /*}*/
    /*.chat-messages::-webkit-scrollbar-thumb {*/
    /*    display: none;*/
    /*}*/
}