#footerSection {
    background: #16171d;
    color: #d1d5db;
    padding: 40px 0 20px;
    font-family: "Inter", sans-serif;
    border-top: 2px solid #313338;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-our-company {
    flex: 1 1 300px;
    min-width: 250px;
}

.footer-container-logo {
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 12px;
}

.footer-container-logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.footer-container-logo svg {
    height: 40px;
    fill: rgba(132, 116, 254, 1);
}

.footer-our-company p {
    font-size: 14px;
    line-height: 1.6;
    color: #c8c9ce;
}

.footer-info {
    flex: 1 1 200px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-info h3 {
    color: rgba(132, 116, 254, 1);;
    /*font-weight: 750;*/
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.footer-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-info a {
    color: #9ca3af;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease, transform 0.2s ease;
}

.footer-info a:hover {
    color: #facc15;
    transform: translateX(4px);
}

.line {
    height: 1px;
    background: #1f2937;
    margin: 25px 0 25px;
    width: 100%;
}

.company-name {
    text-align: center;
    font-size: 13px;
    color: #6b7280;
}

@media (max-width: 768px) {
    .footer-links {
        /*flex-direction: column;*/
        /*display: block;*/
        align-items: center;
        /*text-align: center;*/
        /*gap: 30px;*/
    }

    /*.footer-info,*/
    /*.footer-our-company {*/
    /*    margin-top: 10px;*/
    /*}*/

    .footer-container-logo {
        justify-content: center;
    }

    .footer-info a:hover {
        transform: none;
    }
}
