html, body {
    /*height: 100%;*/
    /*margin: 0;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow-x: hidden;
}
.footer-container {
    /*max-width: 900px;*/
    /*width: 100%;*/
    /*margin-left: 83px;*/
    padding: 0 100px;
}

.footer-container-logo{
    display: flex;
    gap: 5px;
    z-index: 2;
    margin-left: -3.5px;
    align-items: center;
    text-decoration: none;
    max-width: 100px;
    width: 100%;
}
.footer-container-logo img {
    width: 30px;
    height: 30px;
}
.footer-container-logo svg {
    fill: rgba(132, 116, 254, 1);
}

.line{
    border-top: 1px solid #666;
    margin-top: 50px;
    margin-bottom: 50px;
    /*width: 100%;*/
}
footer {
    font-family: Arial, sans-serif;
    background-color: #16171d;
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-bottom: auto;
}
main {
    flex: 1;
}
footer h3{
    color: rgba(132, 116, 254, 1);;
    font-weight: 750;
}
footer a {
    color: #A9A9B3;
    text-decoration: none;
}
footer a:hover{
    color: #F2F2F2;
}
footer p {
    color: #F2F2F2
}
.footer-links {
    display: flex;
    margin-top: 20px;
}
.footer-our-company{
    width: 350px;
    flex-wrap: wrap;
    display: grid;
}
.footer-our-company p {
    color: #c8c9ce;
}
.footer-info{
    display: grid;
    gap: 10px;
    margin-left: 50px;
    margin-top: -14.5px;
}
.footer-links a {
    margin-right: 20px;
}

.footer-links a:last-child {
    margin-right: 0;
}
.company-logo{
    width: 30px;
    height: 30px;
}
.company-name{
    color: #c8c9ce;
    max-width: 700px;
    width: 100%;
    word-break: break-word;
}

@media (max-width: 1000px) {
    .footer-container {
        padding: 0 20px;
        flex-direction: column;
    }
    .footer-links {
        display: block;
        margin: 20px 30px;
        max-width: 400px;
        width: 100%;
        word-break: break-word;
    }
    .company-name {
        margin: 20px 30px;
        max-width: 300px;
        width: 100%;
        word-break: break-word;
    }
    .footer-info {
        margin-bottom: 50px;
    }
}