body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: grid;
    background-color: #f0f2f5;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}
/*html {*/
/*    text-decoration: none;*/
/*}*/
.friends-container {
    width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #333;
}

.friends-list {
    margin: 20px 0;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-friend {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.add-friend input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.add-friend button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.add-friend button:hover {
    background: #0056b3;
}

.friend-container {
    border-bottom: 1px solid black;
    width: 200px;
}
.friend-delete-a {
    color: #c1121f;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.friend-delete-a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.friend-invite-a {
    color: #4c956c;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.friend-invite-a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.friend-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#friendsLoaderSvg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}