body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*flex-direction: column;*/
    /*display: grid;*/
    background-color: #f0f2f5;
    /*grid-template-rows: auto 1fr auto;*/
    overflow-x: hidden;
}

.myGames {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 50px;
}

.card {
    width: fit-content;
    min-width: 400px;
    /*height: 150px;*/
    /*background-color: #f2f3f7;*/
    border-radius: 0.75em;
    transition: ease 0.2s;
    /*box-shadow: 1em 1em 1em #d8dae0b1, -0.75em -0.75em 1em #ffffff;*/
    /*border: 1.5px solid #f2f3f7;*/
    background-color: #d3ddf1;
    border: 1.5px solid #1677ff;
}

.container {
    margin-top: 1.25em;
    margin-bottom: 1.375em;
    margin-left: 1.375em;
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.status-ind {
    width: 0.625em;
    height: 0.625em;
    background-color: #ff0000;
    margin: 0.375em 0;
    border-radius: 0.5em;
}

.text-wrap {
    display: block;
    flex-direction: column;
    gap: 0.25em;
    color: #333;
}

.time {
    font-size: 0.875em;
    color: #777;
}

.text-link {
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: block;
    margin: 5px;
}

.button-wrap {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.secondary-cta {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    cursor: pointer;
}

.primary-cta {
    font-size: 15px;
    background-color: transparent;
    font-weight: 600;
    color: #1677ff;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    text-decoration: none;
}
.primary-cta:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
button:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
}


@media (max-width: 1200px) {
    .myGames {
        flex-direction: column;
    }
}