body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    max-width: 850px;
    width: 100%;
    margin: 70px 150px;
    padding: 20px;
    box-sizing: border-box;
}
.search-container {
    position: absolute;
    margin-left: 850px;
    display: block;
}
.search-tag-container {
    padding: 30px 0;
}
.search {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 288px;
    width: 100%;
}
.search-info {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    background: #343a40;
    color: white;
    word-break: break-word;
}

.search-box, .search-dropdown {
    display: flex;
    align-items: center;
    /*background: #2a2a36;*/
    padding: 11px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    /*cursor: pointer;*/
    border: 1px solid black;
}

.search-box input {
    flex: 1;
    background: none;
    border: none;
    /*color: #ccc;*/
    font-size: 14px;
    outline: none;
    margin-left: 5px;
}

.search-icon svg {
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin-right: 8px;
    margin-top: 2px;
}

.close-icon, .arrow {
    margin-left: auto;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}

.search-dropdown-text {
    flex: 1;
}

#searchNotFound {
    display: none;
}

.news-container {
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block;
    /*margin-top: 80px;*/
    box-sizing: border-box;
    margin-bottom: 100px;
}
.news-title {
    font-size: 24px;
    font-weight: bold;
    word-break: break-word;
}
.news-author {
    display: flex;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.news-author img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.news-author span {
    font-size: 17px;
    font-weight: 700;
}

.news-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.news-date span {
    font-size: 17px;
    font-weight: 700;
}
.news-meta {
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-meta-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.tags {
    display: flex;
    gap: 5px;
    word-break: break-word;
    margin-left: auto;
}
.tag {
    background: #e3e3e3;
    padding: 12px 10px;
    border-radius: 5px;
    /*height: 25px;*/
    font-size: 14px;
    border: 1px solid grey;
    color: black;
    text-align: center;
}
.news-summary img, .news-image img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid grey;
}
.news-summary {
    margin-top: 15px;
    font-size: 16px;
    word-break: break-word;
}
.news-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}
.stats {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.news-link {
    color: #00d3e0;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px dashed #007bff;
    transition: all 0.3s ease;
    word-break: break-all;
    cursor: pointer;
}

.news-link:hover {
    color: #00a7ef;
    border-bottom: 1px solid #0056b3;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.news-line {
    border-top: 1px solid #666;
    width: 100%;
}

.views {
    display: flex;
    margin-top: 6px;
    margin-left: 50px;
    align-items: center;
    gap: 5px;
}
.views span svg {
    width: 25px;
    height: 25px;
    margin-top: 2px;
}
.views p {
    font-size: 16px;
    /*font-weight: 550;*/
}

.share-news {
    display: block;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
.share-news svg {
    width: 25px;
    height: 25px;
}
.share-news:hover {
    background: #636264;
}

.stats p {
    margin-top: 15px;
}
.likes-dislikes {
    margin-top: 5px;
    display: flex;
    gap: 15px;
    /*margin-left: 20px;*/
    border: 1px solid #313338;
    padding: 5px 8px;
    border-radius: 12px;
}
.likes-dislikes svg {
    color: #A9A9B3;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.likes-dislikes svg:hover {
    fill: #A9A9B3;
}
.likes-dislikes-tools {
    display: flex;
    gap: 5px;
    align-items: center;
}
.likes-dislikes-tools .number span {
    font-size: 18px;
    margin-left: 5px;
    color: #000000;
}

.read-more {
    border: 1px solid #007bff;
    color: #007bff;
    background: #fff;
    /*border: none;*/
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition-duration: 0.2s;
}
.read-more:hover {
    background: #007bff;
    color: #fff;
}

.not-found {
    margin-bottom: 550px;
    text-align: center;
}
.writeNews {
    background: none;
    box-shadow: none;
}

.news-edit {
    color: #1677ff;
    text-decoration: none;
}
.news-edit:hover {
    text-decoration: underline;
}

.news-delete {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 15px;
    color: #a71e34;
}
.news-delete:hover {
    text-decoration: underline;
}

.search-tag {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.search-tag:hover {
    background: #343a40;
    color: white;
}


.search-tag-active {
    background: #343a40;
    color: white;
}
.tag-default {
    padding: 8px 10px;
}
.sticky-container {
    position: absolute;
    margin-left: 800px;
    display: block;
    box-sizing: border-box;
}

.sticky {
    position: sticky;
    top: 50px;
    padding: 20px;
}

.sticky-box {
    padding: 10px 20px;
}

.info-card {
    max-width: 288px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.info-card a {
    text-decoration: none
}

.info-content {
    padding: 1.1rem;
}

.info-image img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 12px;
    /*border-radius: 12px 12px 0 0 / 12px 12px 0 0;*/
}

.info-title {
    color: #111827;
    font-size: 16px;
    line-height: 1.75rem;
    font-weight: 600;
}

.info-desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.info-action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.info-action span {
    transition: .3s ease;
    margin-top: -1px;
}

.info-action:hover span {
    transform: translateX(4px);
}

.media-info-card {
    max-width: 800px;
    width: 100%;
    padding: 20px 0;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    display: none;
}

.media-info-card .info-image {
    padding: 20px;
}

@media (max-width: 1400px) {
    .container {
        margin-left: 0;
    }
    .sticky-container {
        display: none;
    }
    .media-info-card {
        display: block;
    }
    .readNews-title {
        margin-top: 50px;
    }
    .news .news-meta {
        display: block;
    }
    .news .news-meta .news-meta-data {
        display: flex;
        gap: 50px;
    }
    .news .tags {
        margin-top: 10px;
        display: flex;
    }
    .news .news-footer {
        display: block;
        margin-top: 50px;
    }
    .news .views {
        margin-left: auto;
    }
}
@media (max-width: 1220px) {
    .search-container {
        position: relative;
        margin-left: 0;
    }
    .search {
        padding: 20px;
        max-width: 800px;
        width: 100%;
        box-sizing: border-box;
    }
    .searchNews .info-card {
        display: none;
    }
}