body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.privacyPolicy-container {
    margin: 70px auto;
    padding: 20px;
}

.privacyPolicy-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.privacyPolicy-info h2 {
    color: black;
    font-size: 24px;
}

.privacyPolicy-info b {
    color: black;
}
.privacyPolicy-info p {
    color: black;
}