body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: grid;
    background-color: #f0f2f5;
    grid-template-rows: auto 1fr auto;
}

.rules-container {
    max-width: 800px;
    margin: 90px auto;
    padding: 20px;
}

.rules-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.rules-info h2 {
    color: black;
    font-size: 24px;
}

.rules-info b {
    color: black;
}

.rules-info p {
    color: black;
}