body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}
.container {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    display: grid;
    flex-direction: column;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
input, textarea {
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-indent: 10px;
}
textarea {
    /*min-width: 600px;*/
    max-width: 600px;
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    height: 100%;
}
.container button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.container button:hover {
    background: #0056b3;
}
.contacts {
    margin-top: 20px;
    font-size: 14px;
    display: grid;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.contacts a {
    color: #666;
    text-decoration: none;
    font-size: 18px;
}
.contacts a:hover {
    text-decoration: underline;
}