:root {
    --f: #ECF1FD;
    --bp: #A9A9B3;
    --inputModalBackground: #242632;
}

.darkTheme {
    /*auth*/
    .auth .card {
        /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
        background: #16171d;
        border: 6px solid #313338;
        box-shadow: 12px 12px 0 #000;
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .auth .card__title, .card__a i {
        color: var(--f);
    }
    .auth .card__title, .card__a i:hover {
        color: var(--bp);
    }
    .auth, .card p {
        color: var(--bp);
    }
    .auth input {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .auth label {
        color: var(--bp);
    }
    .auth .rules span {
        color: var(--bp);
    }
    .auth .icon {
        color: var(--bp);
    }
    .auth .card__title::after {
        background-color: var(--bp);
    }
    .auth .toggle-password-reg {
        margin-top: 178px;
    }
    .auth button {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }

    /*main*/
    .main .new-border {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .main .new-border .find-button {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .main .new-border input {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .main .new-border h4 {
        color: var(--bp);
    }
    .main footer {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }

    /*aboutUs*/
    .ab-info h2 {
        color: var(--f);
    }
    .ab-info b, .ab-info p {
        color: var(--bp);
    }

    /*privacyPolicy*/
    .privacyPolicy-info h2 {
        color: var(--f);
    }
    .privacyPolicy-info b, .privacyPolicy-info p {
        color: var(--bp);
    }

    /*rules*/
    .rules-info h2 {
        color: var(--f);
    }
    .rules-info b, .rules-info p {
        color: var(--bp);
    }

    /*contacts*/
    .contactUs h1 {
        color: var(--f);
    }
    .contactUs .contact {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .contactUs h2 {
        color: var(--f);
    }
    .contactUs span {
        color: var(--bp);
    }
    .contactUs svg {
        color: #726d81;
    }
    .contactUs .contact button {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .contactUs .faq-section {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .contactUs .faq-answer {
        color: var(--bp);
    }
    .contactUs .faq-open {
        color: var(--bp);
    }

    /*reviews*/
    .reviews .reviews-info h1 {
        color: var(--f);
    }
    .reviews .reviews-info p {
        color: var(--bp);
    }
    .reviews .review-tool {
        color: var(--f);
        border: 1px solid #313338;
    }
    .reviews .review-card {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
    }
    .reviews .user-name {
        color: var(--f);
    }
    .reviews .review-text {
        color: var(--bp);
    }
    .reviews .search-container .search {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .reviews .search-container h3 {
        color: var(--f);
    }
    .reviews .search-box {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .reviews .search-box input {
        color: #ECF1FD;
    }
    .reviews .search-info {
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .reviews .info-card {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .reviews .info-card span {
        color: var(--f);
    }
    .reviews .info-card p {
        color: var(--bp);
    }
    #sendReviewMenu .review-container {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    #sendReviewMenu .review-container h2 {
        color: var(--f);
    }
    #sendReviewMenu textarea {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--f);
    }
    #sendReviewMenu .review-container select {
        border: 1px solid #313338;
        background-color: #22212c;
        color: #CCCCCC;
    }
    #sendReviewMenu .review-container p {
        color: var(--f);
    }
    #sendReviewMenu .edit-buttons input {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }

    /*createGame // redaction // createQuestions // editQuestions */
    .createGame .modal, .redactionGame .modal {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .createGame .modal__header, .redactionGame .modal__header {
        border-bottom: 1px solid #333;
    }
    .createGame .modal__title, .redactionGame .modal__title {
        color: var(--f)
    }
    .createGame .input__label, .redactionGame .input__label, .questions-modal .input__label {
        color: var(--bp);
    }
    .createGame .input__field, .redactionGame .input__field, .questions-modal .input__field {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .create-questions {
        color: var(--f);
    }
    .redactionGame .input_container p, .questions-modal .input_container p {
        color: var(--bp);
    }
    .redactionGame .input_container input {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .redactionGame .input_container select, .questions-modal .input_container select {
        border: 1px solid #313338;
        background-color: #22212c;
        color: #CCCCCC;
    }
    .redactionGame .input_container option, .questions-modal .input_container option {
        color: #CCCCCC;
    }
    .questions-modal {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .questions-modal .card-edit a {
        color: #0096c7;
    }
    .questions-modal .card-delete a {
        color: #c1121f;
    }
    .questions-modal .card {
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .questions-modal .card__span {
        background-color: #151320;
    }
    .questions-modal .card-int__title {
        color: var(--f);
    }
    .questions-modal .input_container label {
        color: var(--bp);
    }
    .questions-modal .input-file {
        color: var(--f);
    }

    /*myGames*/
    .myGames .card {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .myGames .text-link {
        color: var(--bp);
    }
    .myGames .primary-cta:hover {
        text-decoration-color: grey;
    }

    /*settings*/
    .settings .container {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .settings h2 {
        color: var(--f);
    }
    .settings .profile-info h3 {
        color: #6B7280;
    }
    .settings p {
        color: var(--bp);
    }
    .settings .setting {
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .settings .extra-setting {
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .settings .extra-setting select {
        border: 1px solid #313338;
        background-color: #22212c;
        color: #CCCCCC;
    }
    .settings .extra-setting option {
        color: #CCCCCC;
    }
    .settings .password-form label {
        color: var(--bp);
    }
    .settings .password-form input {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .settings .setting:hover {
        background: #22212c;
        /*opacity: 0.6;*/
    }
    .settings .extra-setting:hover {
        background: #22212c;
        /*opacity: 0.6;*/
    }
    .edit-menus section {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .edit-menus section input, .edit-menus textarea {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--f);
    }
    .edit-menus section p {
        color: var(--f);
    }
    .edit-menus section label {
        color: var(--bp);
    }
    .edit-menus #maxStatusLength, .edit-menus #maxAboutMeLength {
        color: var(--bp);
    }
    .edit-menus section svg {
        /*color: var(--inputModalBackground);*/
        /*fill: var(--inputModalBackground);*/
    }

    /*support*/
    .support h2 {
        color: var(--f);
    }
    .support input, .support textarea {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }

    /*news // readNews*/
    .news .search-container .search {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .news .search-container h3 {
        color: var(--f);
    }
    .news .search-box {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .news .search-box input {
        color: #ECF1FD;
    }
    .news .search-info {
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .news .info-card {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .news .info-card span {
        color: var(--f);
    }
    .news .info-card p {
        color: var(--bp);
    }
    .news .search-tag-container {
        color: var(--bp);
    }
    .news .news-container {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #1e1f29;
        border: 1px solid #313338;
    }
    .news .news-title {
        color: var(--f);
    }
    .news .news-author span {
        color: var(--bp);
    }
    .news .news-summary {
        color: #ECF1FD;
    }
    .news .news-footer span, .news-footer p {
        color: var(--bp);
    }
    .news .read-more {
        border: 1px solid #313338;
        background: #1e1f29;
        color: #ECF1FD;
    }
    .news .read-more:hover {
        border: 1px solid #313338;
        background: #313338;
        color: #ECF1FD;
    }
    .news .tag {
        border: 1px solid #666;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        color: #ECF1FD;
    }
    .news .search-tag:hover {
        background: #2b2d42;
    }
    .news .search-tag-active {
        background: #2b2d42;
    }
    .news .news-image img {
        border: 1px solid #313338;
    }
    .news .writeNews {
        background: none;
        box-shadow: none;
        border: none;
    }
    .news .news-card h3 {
        color: var(--bp);
    }
    .news .news-date {
        color: var(--bp);
    }
    .news .stats .likes-dislikes {
        color: var(--bp);
    }
    .news .stats .likes-dislikes svg {
        color: #726d81;
        transition-duration: 0.3s;
    }
    .news .like .number, .news .like .number {
        color: var(--bp);
    }
    .news .likes-dislikes-tools .number span {
        color: var(--bp);
    }

    /*pagination*/
    .pagination a {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
        color: var(--f);
    }
    .pagination .current {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
    }
    .pagination .disabled {
        color: grey;
    }

    /*admin-tools*/
    .admin-tools .search h2 {
        color: var(--f);
    }
    .admin-tools .search input {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .admin-tools .card {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .admin-tools span, .admin-tools p {
        color: var(--bp);
    }
    .admin-tools .news-container {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #1e1f29;
        border: 1px solid #313338;
    }
    .admin-tools .news-title {
        color: var(--f);
    }
    .admin-tools .news-summary {
        color: #ECF1FD;
    }
    .admin-tools .read-more {
        border: 1px solid #313338;
        background: #1e1f29;
        color: #ECF1FD;
    }
    .admin-tools .read-more:hover {
        border: 1px solid #313338;
        background: #313338;
        color: #ECF1FD;
    }
    .admin-tools .modal {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #1e1f29;
        border: 1px solid #313338;
    }
    .admin-tools .modal__title {
        color: var(--f);
    }
    .admin-tools .input__label {
        color: var(--bp);
    }
    .admin-tools .input__field {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .admin-tools .input_container label {
        color: var(--f);
    }
    .admin-tools select {
        border: 1px solid #313338;
        background-color: #22212c;
        color: #CCCCCC;
    }
    .admin-tools option {
        color: #CCCCCC;
    }
    .admin-tools .news-container {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #1e1f29;
        border: 1px solid #313338;
    }
    .admin-tools .news-container h2 {
        color: var(--f);
    }
    .admin-tools .form-group label {
        color: var(--bp);
    }
    .admin-tools .form-group input {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .admin-tools .panel {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #1e1f29;
        border: 1px solid #313338;
    }
    .admin-tools .panel h2 {
        color: var(--f);
    }
    .admin-tools tr {
        color: var(--bp);
    }
    .admin-tools .panel input {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .admin-tools .badge {
        color: #001d3d;
    }

    /*game*/
    .game #onlineCount, .game .game-pin, .game .pi {
        color: var(--bp);
    }
    .game #bannedPlayersMenu, .game #friendListMenu {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .game .overlay h2 {
        color: var(--f);
    }
    .game .progress {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
    }
    .game #infoContainer span {
        color: var(--bp);
    }
    .game .timerLeft {
        color: var(--f);
    }
    .game .beforeStart {
        color: var(--bp);
    }
    .game header {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .game .game_correct-answers-text, .game .game-answers, .game #waitAllPlayer {
        color: var(--bp);
    }
    .game .game_correct-answers {
        color: var(--f);
    }
    .game .c-question {
        border: 1px solid #313338;
    }
    .game .answer-container {
        background: #101114;
    }
    .game .answer-message {
        color: var(--bp);
    }
    .game .userName {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .game .banned-container {
        border: 1px solid #313338;
        background: var(--inputModalBackground);
        color: var(--bp);
    }
    .game .users-online {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }
    .game .users-online svg {
        color: var(--bp);
    }
    .game #usersCount {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #16171d;
        border: 1px solid #313338;
    }

    /*accountDeletionProcess*/
    .accountDeletionProcess .container {
        border: 1px solid #313338;
        color: var(--bp);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background: #1e1f29;
    }
    .accountDeletionProcess .btn, .accountDeletionProcess .load-btn {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .accountDeletionProcess .btn:hover, .accountDeletionProcess .load-btn:hover {
        background: #313338;
    }
    .accountDeletionProcess .container .date {
        color: var(--f);
    }
    .accountDeletionProcess .warning-svg svg {
        color: orange;
    }


    /*header*/
    .brutalist-card {
        border: 4px solid #313338;
        /*border-radius: 8px;*/
        background: #16171d;
        color: var(--bp);
        /*border: 1px solid #313338;*/
        /*color: var(--bp);*/
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /*background: #1e1f29;*/
    }
    .brutalist-card__header {
        border-color: #2b2640;
    }
    .brutalist-card__icon {
        background-color: var(--inputModalBackground);
    }
    .brutalist-card__icon svg {
        fill: var(--f);
    }
    .brutalist-card__alert {
        color: var(--f);
    }
    .brutalist-card__message {
        color: var(--bp);
        border-color: #2b2640;
        border-radius: 5px;
    }
    .brutalist-card__actions button {
        background-color: var(--inputModalBackground);
    }
    .brutalist-card__actions button:hover {
        opacity: 0.5;
    }
    .brutalist-card__message a {
        color: #219ebc;
    }
    .brutalist-card__message a:hover{
        text-decoration: underline;
        text-decoration-color: var(--bp);
    }

    .success-card {
        border: 1px solid #313338;
        background-color: var(--inputModalBackground);
        color: var(--bp);
    }
    .success-sub-text {
        color: var(--bp);
    }
    .not-found {
        color: var(--f);
    }
}

.darkTheme body {
    /*background-color: #101114;*/
    background-color: #121518;
}