<link rel="stylesheet" href="/stylesheets/noscript.css">
<style>
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    a {
        margin-top: 0;
    }
</style>
<div class="header-barrier"></div>
<div class="header-border">
    <h1>JavaScript is disabled!</h1>
    <p>To ensure the website works properly, please enable JavaScript in your browser settings.<br/>Here’s how to do it:</p>
    <ul style="text-align: left; display: inline-block;">
        <li><strong>Google Chrome:</strong> Open Settings → Privacy and security → Site Settings → JavaScript → Enable.</li>
        <li><strong>Mozilla Firefox:</strong> Type <code>about:config</code> in the address bar → Find <code>javascript.enabled</code> → Set it to <code>true</code>.</li>
        <li><strong>Safari:</strong> Open Settings → Security → Enable JavaScript.</li>
        <li><strong>Microsoft Edge:</strong> Go to Settings → Cookies and site permissions → JavaScript → Enable.</li>
    </ul>
    <div style="text-align: center">
        <a href="/">Refresh the page</a> after enabling JavaScript.
        <p>If after all the steps you have not been able to solve the problem, please contact support:</p>
        <div class="header-contacts">
            <a class="header-contact" href="mailto:hffreelancers@gmail.com">Email</a>
            <a class="header-contact" href="https://web.telegram.org/a/">Telegram</a>
        </div>
        <div class="header-locale">
            <form action="/changeLocale/ru/true" method="POST">
                <button>RU</button>
            </form>
            <form action="/changeLocale/en/true" method="POST">
                <button style="text-decoration: underline; text-decoration-color: #00a3c1;">EN</button>
            </form>
        </div>
    </div>
</div>