<!DOCTYPE html>
<html lang="en" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Recovery</title>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<body>
<form action="/auth/send-code" method="POST">
    <div class="card">
        <div style="display: flex; gap: 10px;">
            <a href="/" class="card__a"><i class="fa fa-home"></i></a>
            <span class="card__title">Recovery</span>
        </div>
        <p class="card__content" style="font-family: Arial, sans-serif">
            We have sent a confirmation code to your email: <%= email %>
        </p>
        <div class="card__form">
            <p class="text">Confirmation Code</p>
            <input type="text" id="node" name="code" class="card__form-input" placeholder="Enter confirmation code" required>
            <p class="text">Password</p>
            <input type="password" id="password" name="password" class="card__form-input" placeholder="Enter new password" required>
            <p class="text">Confirm Password</p>
            <input type="password" id="confirmPassword" name="confirmPassword" class="card__form-input" placeholder="Confirm your password" required>
            <img src="/images/invisiblePassword.png" class="toggle-password" style="top: 63.5%;" id="togglePassword1">
            <img src="/images/visiblePassword.png" class="toggle-password" style="top: 63.5%;" id="togglePassword2" hidden>
            <button type="submit" class="card__button">Change Password</button>
        </div>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePassword1 = document.getElementById('togglePassword1');
        const togglePassword2 = document.getElementById('togglePassword2');
        let passwordField = document.getElementById('password');
        let confirmPasswordField = document.getElementById('confirmPassword');
        let passwordFieldType = passwordField.getAttribute('type');
        togglePassword1.addEventListener('click', function () {
            if (passwordFieldType === 'password') {
                passwordField.setAttribute('type', 'text');
                confirmPasswordField.setAttribute('type', 'text');
                togglePassword2.hidden = false;
                togglePassword1.hidden = true;
            }
        })
        togglePassword2.addEventListener('click', function () {
            if (passwordFieldType === 'password') {
                passwordField.setAttribute('type', 'password');
                confirmPasswordField.setAttribute('type', 'password');
                togglePassword2.hidden = true;
                togglePassword1.hidden = false;
            }
        });
    })
</script>
</body>
</html>
