<!DOCTYPE html>
<html lang="en" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Registration</title>
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<script>
    const localeType = '<%= locale %>';
</script>
<body>
<main class="auth">
    <form method="POST" id="loginForm">
        <div class="card">
            <div style="display: flex; gap: 10px;">
                <a href="/" class="card__a"><i class="fa fa-home"></i></a>
                <span class="card__title">Registration</span>
            </div>

            <p class="card__content">
                Create your account!
            </p>
            <div class="card__form">
                <p class="text">Username</p>
                <input type="text" id="name" name="name" class="card__form-input" placeholder="Choose a username" required>
                <p class="text">Email</p>
                <input type="email" id="email" name="email" class="card__form-input" placeholder="Enter your email" required>
                <p class="text">Password</p>
                <div class="input-wrapper">
                    <input type="password" id="pwd" name="password" class="card__form-input" placeholder="Choose a password" required>                    <div class="toggle-password">
                        <i data-lucide="eye-off" class="icon" id="tp" onclick="togglePassword()"></i>
                    </div>
                </div>
                <p class="text">Confirm Password</p>
                <input type="password" id="cpwd" name="confirmPassword" class="card__form-input" placeholder="Confirm your password" required>

                <div class="rules">
                    <span>By registering, you agree to our <a href="/rules" target="_blank">Terms of Use</a> and <a href="/privacyPolicy" target="_blank">Privacy Policy.</a></span>
                </div>

                <button class="card__button" id="registerButton">Create Account</button>
                <button class="card__button" id="loaderButton" hidden onclick="return false">
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </button>
            </div>
            <p class="no-account">Already have an account? <a href="/auth/login" class="link">Log in</a></p>
        </div>
    </form>
</main>
<div class="toast-container" id="toast-container"></div>
<script src="/javascripts/auth/register.js"></script>
<script src="/javascripts/alert.js"></script>
<script src="/javascripts/pageIdentificator.js"></script>
</body>
</html>
