<!DOCTYPE html>
<html lang="en" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot | Registration</title>
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
</head>
<script>
    const localeType = '<%= locale %>';
</script>
<body>
<main class="auth">
    <form method="POST" id="loginForm">
        <div class="card">
            <div class="card__info">
                <a href="/" class="card__a">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-big-left-icon lucide-arrow-big-left"><path d="M13 9a1 1 0 0 1-1-1V5.061a1 1 0 0 0-1.811-.75l-6.835 6.836a1.207 1.207 0 0 0 0 1.707l6.835 6.835a1 1 0 0 0 1.811-.75V16a1 1 0 0 1 1-1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1z"/></svg><!--                    <i class="fa fa-home"></i>-->
                </a>
                <span class="card__title">Registration</span>
            </div>

            <p class="card__content">
                Create your account!
            </p>
            <div class="card__form">
                <div>
                    <p class="text">Username</p>
                    <input type="text" id="name" name="name" class="card__form-input" placeholder="Choose a username" required>
                </div>
                <div>
                    <p class="text">Email</p>
                    <input type="email" id="email" name="email" class="card__form-input" placeholder="Enter your email" required>
                </div>
                <div>
                    <p class="text">Password</p>
                    <div class="input-wrapper">
                        <input type="password" id="pwd" name="password" class="card__form-input" placeholder="Choose a password" required>

                        <div class="svg-wrapper" style="display: none;" id="showPassword" onclick="togglePassword()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off-icon lucide-eye-off">
                                <path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/><path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/><path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/><path d="m2 2 20 20"/>
                            </svg>
                        </div>

                        <div class="svg-wrapper" id="hidePassword" onclick="togglePassword()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
                                <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text">Confirm Password</p>
                    <input type="password" id="cpwd" name="confirmPassword" class="card__form-input" placeholder="Confirm your password" required>
                </div>

                <div class="rules">
                    <span>By registering, you agree to our <a href="/rules" target="_blank">Terms of Use</a> and <a href="/privacyPolicy" target="_blank">Privacy Policy.</a></span>
                </div>

                <button class="card__button" id="registerButton">Create Account</button>
                <button class="card__button" id="loaderButton" hidden onclick="return false">
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </button>
            </div>
            <p class="no-account">Already have an account? <a href="/auth/login" class="link">Log in</a></p>
        </div>
    </form>
</main>
<div class="toast-container" id="toast-container"></div>
<script src="/javascripts/auth/register.js"></script>
<script src="/javascripts/alert.js"></script>
<script src="/javascripts/pageIdentificator.js"></script>
</body>
</html>
