<!DOCTYPE html>
<html lang="en" id="htmlTheme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Expired</title>
    <script>
        const darkTheme = `<%= darkTheme %>`;
        if (darkTheme === 'on') {
            document.documentElement.classList.add('darkTheme');
        } else {
            document.documentElement.classList.remove('darkTheme');
        }
    </script>
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icon.png">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<script>
    const localeType = '<%= locale %>';
</script>
<body>
<main class="auth">
    <form method="POST" id="loginForm">
        <div class="card">
            <div style="display: flex; gap: 10px;">
                <a href="/" class="card__a"><i class="fa fa-home"></i></a>
                <span class="card__title">Session Expired</span>
            </div>
            <p class="card__content">
                Your session has expired. Please log in again and check "Remember me" if you wish to stay logged in.
            </p>
            <div class="card__form">
                <p class="text">Email</p>
                <input type="email" id="email" name="email" class="card__form-input" placeholder="Enter your email" required>
                <p class="text">Password</p>
                <div class="input-wrapper">
                    <input type="password" id="pwd" name="password" class="card__form-input" placeholder="Enter your password" required>
                    <div class="toggle-password">
                        <i data-lucide="eye-off" class="icon" id="tp" onclick="togglePassword()"></i>
                    </div>
                </div>
                <div class="password-group">
                    <div class="checkbox-group">
                        <input type="checkbox" id="rememberMeCheckbox">
                        <label class="remember-me" for="rememberMeCheckbox">Remember me</label>
                    </div>
                    <a href="/auth/forget-password" class="forget-password">Forgot password</a>
                </div>
                <button class="card__button" id="loginButton">Log in</button>
                <button class="card__button" id="loaderButton" hidden>
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>
                </button>
            </div>
            <p class="no-account">Don't have an account yet? <a href="/auth/register" class="link">Create one</a></p>
        </div>
    </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/auth/login.js"></script>
<script src="/javascripts/pageIdentificator.js"></script>
</body>
</html>
