<link rel="stylesheet" href="/stylesheets/noscript.css">
<style>
    body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    a {
        margin-top: 0;
    }
</style>
<div class="header-barrier"></div>
<div class="header-border">
    <h1>JavaScript отключён!</h1>
    <p>Для корректной работы сайта включите JavaScript в настройках вашего браузера.<br/>Вот как это сделать:</p>
    <ul style="text-align: left; display: inline-block;">
        <li><strong>Google Chrome:</strong> Откройте настройки → Конфиденциальность и безопасность → Настройки сайта → JavaScript → Включите.</li>
        <li><strong>Mozilla Firefox:</strong> Введите <code>about:config</code> в адресной строке → Найдите <code>javascript.enabled</code> → Установите в <code>true</code>.</li>
        <li><strong>Safari:</strong> Откройте настройки → Безопасность → Включите опцию JavaScript.</li>
        <li><strong>Microsoft Edge:</strong> Перейдите в параметры → Файлы cookie и разрешения сайта → JavaScript → Включите.</li>
    </ul>
    <div style="text-align: center">
        <p><a href="/">Обновите страницу</a> после того, как включите JavaScript.</p>
        <p>Если после всех действий не удалось решить проблему, обратитеть в поддержку:</p>
        <div class="header-contacts">
            <a class="header-contact" href="mailto:hffreelancers@gmail.com">Эл. адрес</a>
            <a class="header-contact" href="https://web.telegram.org/a/">Телеграм</a>
        </div>
        <div class="header-locale">
            <form action="/changeLocale/ru/true" method="POST">
                <button style="text-decoration: underline; text-decoration-color: #00a3c1;">RU</button>
            </form>
            <form action="/changeLocale/en/true" method="POST">
                <button>EN</button>
            </form>
        </div>
    </div>
</div>